<x-main>
  <div class=sm:px-4 font-sans">
    <table align="center">
      <tr class="">
        <td class="w-full max-w-[640px]">
          <div class="text-center">
            <a href="https://ceboostup.com">
              <img
                src="https://cdn.jsdelivr.net/gh/phuwit/CE-Boostup-XII-Email-Maizzle@main/src/images/header.avif"
                alt="CE Boostup XII Header"
              />
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td class="p-6 text-base shadow-sm space-y-8">
                <div class="flex gap-x-2 h-11">
                  <img
                    src="https://cdn.jsdelivr.net/gh/phuwit/CE-Boostup-XII-Email-Maizzle@main/src/images/logo.svg"
                    alt="CE Boostup XII Logo"
                    class=""
                  />
                  <p class="font-bold my-auto">CE Boost Up XII</p>
                </div>

                <p>
                  สวัสดีน้อง
                  <span class="font-bold">@{{name}}</span>
                </p>

                <div>
                  <p>@{{instruction}}</p>
                  <ol class="list-decimal ml-5">
                    <li>
                      เข้าลิงค์
                      <a href="@{{url}}" class="text-blue-600 underline">@{{url}}</a>
                    </li>
                    <li>กรอกข้อมูล</li>
                  </ol>
                </div>

                <!-- <x-divider space-y="32px" class="bg-slate-200" /> -->

                <p>หากพบปัญหาหรือมีข้อสงสัย ติดต่อที่พี่นาน่า, พี่ณัฐ, พี่กัน</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
